# see https://github.com/mathiasbynens/dotfiles/blob/main/.aliases
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias how="/usr/local/bin/tldr"
alias sail="./vendor/bin/sail"


alias ll='eza -l'
alias la='ll -a'
alias tree='eza --tree --level=2 --git-ignore'
alias grid='eza --long --grid'
alias l='ls -CF'


# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias pa="php artisan"

# git
alias gm="git commit"
alias ga="git add ."
alias flsof4="lsof -Pn -i4 | awk '{printf \"%10s %6s %5s %4s %-20s\n\", \$1, \$2, \$3, \$8, \$9}' | fzf --border --cycle --ansi --header-lines=1"
alias gcob='git checkout $(git branch | fzf --cycle --border --ansi)'
alias gbdel='git branch -D $(git branch | fzf --cycle --border --ansi)'
alias gc="git checkout ."
alias gu="git undo"
alias gnew="git checkout -b "
alias grename="git branch -m "
alias gtemp='ga && git stash'
alias gopl='git pull origin $(git branch | fzf --cycle --border --ansi | sed "s/* //")'
alias gopu='git push origin $(git branch | fzf --cycle --border --ansi | sed "s/* //")'
alias gf='git fetch -p'
alias gco='git checkout -q --track $(git branch -r | grep -v HEAD | fzf)'

# ai 
alias agpt="docker-compose -f ${HOME}/ai/auto-gpt/docker-compose.yml run --rm auto-gpt"
# alias sgpt="docker run --rm --env OPENAI_API_KEY --volume gpt-cache:/tmp/shell_gpt ghcr.io/ther1d/shell_gpt"
